.section-header{
    background-image: url("images/banner/banner3.png");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 130px;
    border-radius: 15px;
}
.div-one{
    margin-top: 70px;
    margin-left: 600px;
}

.think-head{
    color: aliceblue;
    font-size: 40px;
}
.btn-contact-one{
    color: blue;
    background-color: azure;
    border: none;
    padding:5px 10px;
    border-radius: 5px;
    margin-top: 15px;
}
/*Section two is start to here */
.section-two{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.person img{
    height: 500px;
}
.extra-details{
    margin-top: 100px;
    margin-left: 100px;
}
.check{
    font-size: 2px;
}
.fa-sharp{
    color: rgb(37, 235, 6);
    margin-right: 10px;
}
/* one header ekaki */
.ekaki{
    text-align: center;
    margin-top: 50px;
}
/*3rd section er kaj suru */
.section-three{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.icon-hub{
    margin-right: 25px;
    margin-left: 25px;
}
.icon-hub img{
  margin-left: 20px;
  width: 80px;
  height: 80px;
}
/*Section four */
.section-four{
    background-image: url("images/gradient1.png");
    background-image: url("images/watch.png");
    background-position: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 40px 20px;
    border-radius: 15px;
}
.section-four h1{
  color: azure;
}
/*section five ekon */
.section-five{
    justify-content: center;
    display: flex;
    background-color: black;
    color: azure;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-five div{
   margin-right: 150px;
}
.btn-subscribe{
    color: azure;
    background-color: #005FAC;
    padding: 10px 15px;
    border-radius: 10px;
}
.input-email input{
    padding: 10px 10px;
    border-radius: 5px;
    background-color: black;
    border: 3px solid white;
}
.icon-link img{
  margin-right: 10px;
}