.section-header{
    background-image: url("images/banner/banner3.png");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 130px;
    border-radius: 15px;
}
.div-one{
    margin-top: 70px;
    margin-left: 600px;
}

.think-head{
    color: aliceblue;
    font-size: 40px;
}
.btn-contact-one{
    color: blue;
    background-color: azure;
    border: none;
    padding:5px 10px;
    border-radius: 5px;
    margin-top: 15px;
}
/*Section two is start to here */
.section-two{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.person img{
    height: 500px;
}
.extra-details{
    margin-top: 100px;
    margin-left: 100px;
}
.check{
    font-size: 2px;
}
.fa-sharp{
    color: rgb(37, 235, 6);
    margin-right: 10px;
}
/*3rd section er kaj suru */